    body 
    {
        margin: 0;
        padding: 0;
        background: url(../imagenes/FONDO\ INGRESO.png) no-repeat left ;
        background-size: cover;
        font-family: verdana;
    }

    .total
    {
        margin: 0px;
        padding: 0px;
        height: 600px;
    }
    .login-box
    {
        width: 350px;
        height: 415px;
        background: rgb(255, 255, 255); 
        color: rgb(90, 90, 90);
        top: 60%;
        left: 40%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 70px 30px;
        margin-left: 400px;
        border-radius: 30px;
    }

    .titu
    {
        margin-left: 600px;
    }

    .titu h1
    {
        font-size: 60px;
    }

    .login-box .avatar 
    {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
    }

    .login-box h1 
    {
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }

    .login-box label 
    {
        margin: 0;
        padding: 0;
        font-weight: bold;
        display: block;
        
    }

    .login-box input 
    {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .login-box input[type="text"]
    {
        border: none;
        border-radius: 60px;
        border-bottom: 2px solid rgb(255, 94, 0);
        background: transparent;
        outline: none;
        height: 40px;
        color: rgb(0, 0, 0);
        font-size: 16px;
    }
    .pass
    {
        margin-top: 10%;
    }
    .login-box input[type="password"] 
    {
        border: none;
        border-radius: 60px;
        border-bottom: 2px solid rgb(255, 94, 0);
        background: transparent;
        outline: none;
        height: 40px;
        color: rgb(0, 0, 0);
        font-size: 16px;
    }

    .login-box input[type="submit"] {
        margin-top: 10%;
        border: none;
        outline: none;
        height: 40px;
        background:#238276;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
    }

    .login-box input[type="submit"]:hover {
        cursor: pointer;
        background: rgb(89, 181, 72);
        color: rgb(255, 255, 255);
    }



    /* --------------------------BOTONES DE APARECER FORMULARIOS------------------- */
.botones-form{
    border:3px solid red;
    width:20%;
    
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap:5px;
    background: rgb(131, 121, 121);
    
}

.btn-cursor{
    cursor:pointer;
}



