body 
{
    margin: 0;
    padding: 0;
    background: url(../imagenes/FONDO\ INGRESO.png) no-repeat left ;
    background-size: cover;
    font-family: verdana;
}

.titu
{
    
    text-align: center;
    display:flex;
    height:15%;
    margin-bottom:8px;
    
}

.chiquito{
    padding:45px 0 0 0;
}

.titu h1
{
    margin-left:25%;
    font-size: 50px;
}

.total
{
    margin: 0px;
    padding: 0px;
    height: 600px;
    border:1px solid transparent;
}

/* imagen del logo de la mascota */
.imagenlogo{
    width:75%;
   
}

.imgMÑ{
    width:100%;
   
}
    /* --------------------------BOTONES DE APARECER FORMULARIOS------------------- */

.botones-form{
    margin-top:3%;
    width:60%;
    height: 100%;
    padding:10px;
    display:grid;   
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap:5px;
    background: rgba(46, 163, 42, 0.473);
    margin-left:5%;
    border-radius:5px;
    
}

.botones-form button{
    border-radius:2px;
    outline:none;

    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.botones-form button:focus{
    background:rgb(236, 163, 54);
    border:rgb(236, 163, 54);
    outline:none;
    
}

.btn-cursor{
    padding:10px;
    cursor:pointer;
}

/* CAJA DE BOTONES Y FORMULARIO */
.total2{
    
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width:99.4%;
}


.login-box .avatar,
.login-box2 .avatar,
.login-box3 .avatar,
.login-box4 .avatar,
.login-box5 .avatar,
.login-box6 .avatar,
.login-box7 .avatar,
.login-box8 .avatar,
.login-box9 .avatar,
.login-box10 .avatar
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1,
.login-box2 h1,
.login-box3 h1,
.login-box4 h1,
.login-box5 h1,
.login-box6 h1,
.login-box7 h1,
.login-box8 h1,
.login-box9 h1,
.login-box10 h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label,
.login-box2 label,
.login-box3 label,
.login-box4 label,
.login-box5 label,
.login-box6 label,
.login-box7 label,
.login-box8 label,
.login-box9 label,
.login-box10 label
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    
}

.login-box input,
.login-box2 input,
.login-box3 input,
.login-box4 input,
.login-box5 input,
.login-box6 input,
.login-box7 input,
.login-box8 input,
.login-box9 input,
.login-box10 input
{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}


.login-box input[type="number"],
.login-box2 input[type="number"],
.login-box3 input[type="number"],
.login-box4 input[type="number"],
.login-box5 input[type="number"],
.login-box6 input[type="number"],
.login-box7 input[type="number"],
.login-box8 input[type="number"],
.login-box9 input[type="number"],
.login-box10 input[type="number"]
{
    border: none;
    border-radius: 60px;
    border-bottom: 2px solid rgb(255, 94, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
.pass
{
    margin-top: 10%;
}

.login-box input[type="password"],
.login-box2 input[type="password"],
.login-box3 input[type="password"],
.login-box4 input[type="password"],
.login-box5 input[type="password"],
.login-box6 input[type="password"],
.login-box7 input[type="password"],
.login-box8 input[type="password"],
.login-box9 input[type="password"],
.login-box10 input[type="password"]
{
    border: none;
    border-radius: 60px;
    border-bottom: 2px solid rgb(255, 94, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.login-box input[type="submit"],
.login-box2 input[type="submit"],
.login-box3 input[type="submit"],
.login-box4 input[type="submit"],
.login-box5 input[type="submit"],
.login-box6 input[type="submit"],
.login-box7 input[type="submit"],
.login-box8 input[type="submit"],
.login-box9 input[type="submit"],
.login-box10 input[type="submit"]{
    margin-top: 10%;
    border: none;
    outline: none;
    height: 40px;
    background:#238276;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover,
.login-box2 input[type="submit"]:hover,
.login-box3 input[type="submit"]:hover,
.login-box4 input[type="submit"]:hover,
.login-box5 input[type="submit"]:hover,
.login-box6 input[type="submit"]:hover,
.login-box7 input[type="submit"]:hover,
.login-box8 input[type="submit"]:hover,
.login-box9 input[type="submit"]:hover, 
.login-box10 input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(89, 181, 72);
    color: rgb(255, 255, 255);
}
/* FORMULARIO NUMERO UNO ADMINISTRADOR */
.login-box
{
    display:none;
    width: 350px;
    height: 415px;
    background: rgb(255, 255, 255); 
    color: rgb(90, 90, 90);
    top: 60%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 400px;
    border-radius: 30px;
    
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

/* FORMULARIO NUMERO DOS SEGUIMIENTO*/

.login-box2{
    display: none;
   
    width: 350px;
    height: 415px;
    background: rgb(255, 255, 255); 
    color: rgb(90, 90, 90);
    top: 60%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 400px;
    border-radius: 30px;
}
/* quitar punto de la house */
li{
    list-style-type: none;
    margin-top:2.5%;
    margin-left:1.2%;
}

li a{
    color:rgb(0, 0, 0);
}
/* FORMULARIO NUMERO TRES INSTRUCTOR */

.login-box3{
    display:none;

    width: 350px;
    height: 415px;
    background: rgb(255, 255, 255); 
    color: rgb(90, 90, 90);
    top: 60%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 400px;
    border-radius: 30px;
}
/* FORMULARIO NUMERO CUATRO AGENCIA PUBLICA DE EMPLEO */
.login-box4{
    display:none;

    width: 350px;
    height: 445px;
    background: rgb(255, 255, 255); 
    color: rgb(90, 90, 90);
    top: 60%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 400px;
    border-radius: 30px;
}

.login-box5{
    display:none;

    width: 350px;
    height: 445px;
    background: rgb(255, 255, 255); 
    color: rgb(90, 90, 90);
    top: 60%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 400px;
    border-radius: 30px;
}

.login-box6{
    display:none;
    
    width: 350px;
    height: 445px;
    background: rgb(255, 255, 255); 
    color: rgb(90, 90, 90);
    top: 60%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 400px;
    border-radius: 30px;
}

.login-box7{
    display:none;

    width: 350px;
    height: 445px;
    background: rgb(255, 255, 255); 
    color: rgb(90, 90, 90);
    top: 60%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 400px;
    border-radius: 30px;
}


.login-box8{
    display:none;

    width: 350px;
    height: 445px;
    background: rgb(255, 255, 255); 
    color: rgb(90, 90, 90);
    top: 60%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 400px;
    border-radius: 30px;
}

.login-box9{
    display:none;

    width: 350px;
    height: 445px;
    background: rgb(255, 255, 255); 
    color: rgb(90, 90, 90);
    top: 60%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 400px;
    border-radius: 30px;
}

.login-box10{
    display:none;

    width: 350px;
    height: 445px;
    background: rgb(255, 255, 255); 
    color: rgb(90, 90, 90);
    top: 60%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    margin-left: 400px;
    border-radius: 30px;
}




