* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
}

.contenedor {
    width: 90%;
    height: 1000px;
    border: 2px solid black;
    margin: 20px auto;
}

.header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid black;

    display: flex;
}

.logo {
    width: 20%;
    height: 100%;
}

.titulo {
    width: 80%;
    height: 100%;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sigasena {
    width: 160px;
}

.containt_titulo {
    height: 100%;
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.datos_iniciales {
    width: 100%;
    height: 70px;
    border-bottom: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inicial_1, .inicial_2 {
    width: 50%;
    height: 100%;
}

.inicial_1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.inicial_2 {
    border-left: 1px dotted black;
}

.inicial_1-p {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.inicial_1-linea {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.linea {
    width: 90%;
    height: 15px;
    border-bottom: 1px dotted black;
}

.datos_aprendiz {
    width: 100%;
    height: 170px;
    border-bottom: 2px solid black;
}

.datos_aprendiz-header {
    width: 100%;
    height: 30px;
    border-bottom: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_columnas {
    margin-top: 5px;
    width: 100%;
    height: 130px;

    display: flex;
}

.columna_1, .columna_2 {
    width: 50%;
    height: 100%;
}

.linea_aprendiz {
    height: 20px;
    border-bottom: 1px dotted black;
}

table th, table td{
    border: 1px solid black;
}

.paz_firma-aprendiz {
    display: flex;
    flex-direction: row;
    padding: 5px;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.paz_firma-aprendiz .texto_aprendiz {
    width: 70%;
    height: 70px;
}

.paz_firma-aprendiz .firma_aprendiz {
    width: 30%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.paz_firma-aprendiz .firma_aprendiz .linea_firma {
    width: 80%;
    border-top: 2px solid black;

    text-align: center;
}

.contenedor_footer {
    margin-top: 10px;
    padding: 5px;
}

.espacio_observacion {
    margin-bottom: 20px;
}

.observacion {
    width: 100%;
    height: 20px;
    border-top: 1px dotted black;
}

.boton_regresar {
    margin-top: 20px;
    width: 100%;
}

.btn_regresar {
    background-color:#fc7323;
    height: 60px;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
}

.btn_regresar:hover {
    background-color: #f7813e;
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 3);
    transform: translateY(5px);
}

.btn_firma1{
    text-decoration: none;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    background-color: #fc7323;
    color: white;
    margin: 20px 20px;
    padding: 5px 20px;

}

.btn_firma1:hover{
    background-color: #f7813e;
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 3);
    transform: translateY(5px);
}

.img_firma {
    width: 90px;
}

.btn_imprimir {
    display: none;
}

@media print{
    h4 {
        font-size: 13px;
    }

    .datos_iniciales {
        height: 100px;
    }

    .inicial_1-p {
        width: 50%;
    }

    .inicial_1-linea {
        width: 50%;
    }

    .btn_regresar {
        display: none;
    }
}