*{
    padding: 0%;
    margin: 0%;
   }

    /*ocultar*/
    
    .seguimiento
    {
        visibility: hidden;
    }
    .conteiner
    {
        visibility: hidden;
    }

    .conteiner1
    {
        visibility: hidden;
    }
    body 
    {
        background: rgb(222, 223, 222);
        font-family: Verdana;
        width: 100%;
    }

    /*encabezado*/

    .princi
    {
        background-color: #ffffff;
        height: 110px;
    }

    .cerrar
    {
        margin-left: 10%;
    }
    .cerrar  a
    {
        font-family: Verdana;
        font-size: 15px;
        color: #238276;
    }

    .logo .segui
    {
        font-family: Verdana;
        font-size: 20px;
        margin-left: 9%;
        margin-top: -5%;
        color: #fc7323;
    }

    .logo .seguiimg
    {
        margin-left: 5px;
    }

    .segun
    {
        position: absolute;
        margin-left: 83.2%;
        z-index: 1;
        margin-top: -6.2%;

    }

    /*menu*/

    .navegacion 
    {
        background: white;
        display: table;
        width: 85%;
        padding: 0 5.5em;
        position: absolute;
        margin-top: 12px;
        border-color: #fc7323 transparent;
        border-style: solid;
        border-width: 5px;
    }

    .navegacion  ul  li 
    {
        list-style: none;
        margin: auto;
        margin-left: 1%;
    }

    .navegacion .menu img
    {
        margin-right: 15%;
        margin: -7px 1px;
    }

    .menu  li 
    {
        display: inline-block;
    }

    .menu  li a 
    {
        display: block;
        padding: 15px 50px;
        color: black;
        font-family: Verdana;
        text-decoration: none;
    }

        .menu > li > a:hover
        {
            background-color:rgb(25, 130, 118);
            border-radius: 8px;
        }

    /*contenido imagen de perfil*/
    
    .fondo
    {
        width:auto;
        max-width: 95%;
        height:300px;
        margin-top: 5px;
        margin-left: 30px;
        background-image: url(../imagenes/INSTRUCTOR.png);
    }

    .naranja .perfil
    {
        margin-top:-67px;
        margin-left:42%;
        background-color: #fc7323;
        border-radius: 300px;
        height: 250px;
        width: 20%;
    }
    .naranja{
    
        width: auto;
        margin-left: 4.5%;
        margin-bottom: 2%;
        max-width: 90%;
        height: 150px;
        
    }

    /*contenido informativo*/

    .contenedor{
        position: relative;
        background-color: rgb(25, 130, 118);
        border-radius: 10px;
        border:1px solid black;
        width: 90%;
        height: 150px;
        margin-left: 60px;
        margin-top: 4%;
        max-width: 97%;

    }  

    .date{
        position: absolute;
        background-color: #ffffff;
        max-width: 97%;
        border-color: #353434;
        border-radius: 10px;
        border:1px solid black;
        width:96%;
        margin-right: 20px;
        height: 100px;
        margin-left: 20px;
        margin-top: 2%;
        text-align: center;
       
    } 
    .frase{
        margin-top:55px;
    }

    .date .datos p
    {
        list-style: none;
        text-decoration: none;
        font-family: Verdana;
        color: black;
        text-align: center;
    }

    .date .datos .text2
    {
        text-align: left;
        width: 250px;

    }

    /*editar*/
    .button { 
        text-decoration: none;
        padding: 10px 30px;
        font-family: Verdana;
        width: 170px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 15px;
        background: rgb(252, 115, 35);
        margin-left: 80%;
        border-radius: 20px;
    
    }

        .button:hover
        {
            background-color: rgb(89, 181, 72) ;
            border: 1px solid black;
            color: white;
        }

    /*opciones*/

    .opcion
    {
        position:relative;
        margin-top:8%;
        padding:20px;
        max-width: 90%;
        margin-left: 3%;
        height: 64px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .button3 
    { 
        margin-left: 20%;
        text-decoration: none;
        padding: 10px 30px;
        font-family: verdana;
        width: 160px;
        color: rgb(0, 0, 0);
        font-size: 15px;
        background: white;
        border-radius: 20px;
        border-color: #fc7323;
        border-style: solid;
        border-width: 2px;
        text-align: center;
    }

        

        .button3:hover 
        {
            color: white;
            background-color:#fc7323; 
        }

    

    /*pie de pagina*/


        .pie
        {
            position: relative;
            width: 100%;
            height: 75px;
            background-color: #fc7323;
            margin-top:250px;
            display: flex;
            align-items: flex-end;
            border-top: 2px solid #fff;
            margin-left: 0px;   
        }


        .pie img
        {
            margin-left: 10px;
        }

        .info 
        {
            border-left: solid white;
            margin: 4px;
        }

        .info p
        {
            font-size: 12px;
            color: #fff;
            font-family: Verdana;
            margin: 4px;
            margin-left: 5px;
            font-family: Verdana;
        }

    /*seguimiento*/

    .seguimiento
    {
        border-radius: 2%;
        background:rgb(25, 130, 118);
        margin-top: -840px;
        width: 85%;
        margin-left: 7.5%;
        height: 930px;
        position: absolute; 
    }
    
    .seguimiento.sali a 
    {
        cursor: pointer;
    }
    .seguimiento .salir
    {
        width: 3%;
        height: 4%;
        position: absolute;
        margin-left: 93%;
        margin-top: 2%;
        z-index: 11;
    }
    .cali
    {
        border-radius: 2%;
        background:rgb(25, 130, 118);
        margin-top: -840px;
        width: 85%;
        margin-left: 7.5%;
        height: 930px;
        position: absolute; 
        visibility: hidden;
    }
    
    .cali.sali a 
    {
        cursor: pointer;
    }
    .cali .salir
    {
        width: 3%;
        height: 4%;
        position: absolute;
        margin-left: 93%;
        margin-top: 2%;
        z-index: 11;
    }
    .informa2
    {
        background: white;
        border-radius: 20px;
        width: 40%;
        height: 11%;
        margin-top:5% ;
        margin-left: 30%;
        text-align: center;
        padding: 15px;
    }

    .buscarDocu
    {
        display: flex;
        width: 100%;
        height: 100px;
        margin-top: -4%;
    }

    .buscarDocu input
    {
        margin-right: 15%;
        margin-top: 7%;
        width: 80%;
        height: 30%;
        text-align: center;
        border-left: none;
        border-right: none;
        border-top: none;
    }
    .buscarDocu img{
        margin-left: 420px;
        margin-top: -400px;
        width: 10%;
        height: 45%;
    }

    .boton2 
    {
        margin-top: 2%;
        width: 15%;
        height: 75%;
        margin-right: 6%;
    }

    .formutievi{
        background: white;
        width: 35%;
        height: 5%;
        border-radius: 15px;
        margin-left: 50%;
        margin-top: -5%;
        padding: 30px;
    }
    .formutievi select{
        width: 65%;
        background-color: gainsboro;
        height: 40px;
        border-radius: 15px;
        font-size: 15px;
        border:2px solid ;
        border-color: rgb(0, 0, 0);
    }
    .formutievi select:hover
    {
        background: rgb(199, 195, 195);
        transform: translatey(3px);
    }
    .formutievi input{
        border-radius: 10px;
        width: 25%;
        height: 40px;
        background:  rgb(89, 181, 72);
        color: rgb(223, 222, 222);
        font-size: 18px;
    }
    .formutievi input:hover{
        background-color: #fc7323;
    }

     /*evidencias*/

    
    /*datos del aprendiz*/
   

    .informa
    {
        background-color: #fff;
        width: 60%;
        padding: 15px 30px;
        border-radius: 15px;
        margin-left: 20%;
        margin-top: 1%;
    }
    .informaa
    {
        background-color: #fff;
        width: 60%;
        padding: 15px 30px;
        border-radius: 15px;
        margin-left: 20%;
        margin-top: 1%;
    }
    
    .subTitulo{
        padding: 20px;
        font-size: 17px;
        text-align: center;
    }
    .datosApre, .datosForma{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px 20px;
        border: 2px solid rgba(0, 0, 0, 0.76);
    
    }
    .dato{
        margin-top: -15px;
        padding: 5px;
    }
    
    .label{
        display: block;
        font-weight:600;
        font-size: 13px;
        padding: 13px;
    }
    .datos{
        margin-left: 2%;
        margin-right: 3%;
        margin-top: -55px;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    input[type=number] { -moz-appearance:textfield; }
    .inputB{
    border-top: none;
    border-left: none;
    border-right: none;
    border: transparent;
    border-radius: transparent;
    outline: none; 
    border-bottom: 2px solid black;
    height: 20px;
    width: 50%;
    margin-top: 5%;
    margin-left: 20%;
    grid-column: span 2;
    }

    .tipoEvidencia
    {
    display: none;
    }
    .tipoEvidencia
    {
    background-color: #fff;
    width: 70%;
    padding: 15px 30px;
    border-radius: 15px;
    margin-left: 2%;
    margin-top: 2%;
 

    }

    .fomutievi{
    width: 100%;
    font-size: 15px;
    background-color:wheat;
    padding: 10px;
    text-align: center;
    }
    .fomutievi label{
        font-size: 15px;
        padding: 10px;
    }
    
    .inisegui{
        margin-left: 10%;
        background:#ff5f02;
        width: 30%;
        margin-top: 1px;
        height: 30px;
        border-radius: 15px;
        border:2px solid;
        border-color: #ff5f02;
        padding: 2px;
        font-size: 15px;
        color:#fff;
        cursor: pointer;
    }
    .regica
    {
        display: flex;
    }
    .calificar{
        margin-left: 10%;
        background:#ff5f02;
        width: 30%;
        margin-top: 1px;
        height: 30px;
        border-radius: 15px;
        border:2px solid;
        border-color: #ff5f02;
        padding: 2px;
        font-size: 15px;
        color:#fff;
        cursor: pointer;
    }

    .inisegui:hover{
        background:white ;
        color:#ff5f02;
        border:2px solid;
        border-color: #ff5f02;
    }

    