    *{
        padding: 0%;
        margin: 0%;
    }

    :root{
        --naranja:rgb(255, 60, 0);
        --verde :  rgb(89, 181, 72);
        --naranjaClaro : rgb(255, 123, 0)
    }

    body 
    {
        background-color: rgb(223, 223, 223) ;
        font-family: Verdana;
    }

    /*encabezado*/

    .princi
    {
        background-color: #ffffff;
        height: 110px;

    }

    .segui
    {
        position:absolute;
        font-family: Verdana;
        font-size: 25px;
        margin-left: 13%;
        margin-top: 1%;
        color: rgb(25, 130, 118);
    }

    .imagen
    {
        position: absolute;
        z-index: 111;
    }

    .logo .seguiimg
    {
        margin-left: 5px;
    }

    .segun
    {
        position: absolute;
        margin-left: 0%;
        z-index: 1;
        margin-top: -2.2%;
    }

    .segu
    {
        position: absolute;
        margin-left: 84.2%;
        z-index: 1;
        margin-top: -1.9%;
    }

    .navegacion 
    {
        background: white;
        display: table;
        width: 85%;
        padding: 0 5.5em;
        position: absolute;
        margin-top: 5%;
        margin-left: 1px;
        border-color: #fc7323 transparent;
        border-style: solid;
        border-width: 5px;
    }

    .cerrar li a
    {
        font-family: Verdana;
        font-size: 15px;
        color: rgb(25, 130, 118);
    }

    .cerrar 
    {
        position: absolute;
        list-style: none;
        margin-left: 13%;
        margin-top: 3.5%;
    }

    .navegacion  ul  li 
    {
        list-style: none;
        margin: auto;
        margin-left: 10%;
    }

    .navegacion .menu img
    {
        margin-right: 15px;
        margin: -5px 5px;
    }

    .menu  li 
    {
        font-family: Verdana;
        display: inline-block;
    }
    .menu  li:hover 
    {
        background: rgb(25, 130, 118);
        border-radius: 8px;
    }

    .menu  li a 
    {
        display: block;
        padding: 15px 20px;
        color: black;
        font-family: Verdana;
        text-decoration: none;
    }

    /*contenido*/

    .fondo
    {
        margin-top: 5px;
    }

    .naranja .perfil
    {
        position: absolute;
        margin-top: -120px;
        margin-left: 535px;
        border-radius: 300px;
        height: 250px;
        width: 20%;
    }

    .contenedor
    {
        position: absolute;
        background-color: #ffffff;
        width: 90%;
        height: 150px;
        margin-left: 60px;
        margin-top: 10%;
    }  

    .date
    {
        position: relative;
        background-color: #ffffff;
        border:2px solid;
        border-color: #353434;
        width:96%;
        height: 100px;
        margin-left: 20px;
        margin-top: 2%;
        text-align: center;
    } 

    .date .datos p
    {
        list-style: none;
        text-decoration: none;
        font-family: Verdana;
        color: black;
        text-align: center;
    }

    .date .datos .text2
    {
        text-align: left;
        max-width: 100%;
        width: 50%;
    }

    /* boton de editar perfil */
    .button 
    { 
        position: absolute;
        text-decoration: none;
        padding: 10px 40px;
        box-sizing: border-box;
        font-family: Verdana;
        width: 170px;
        text-align: center;
        margin-top: 29%;
        color: rgb(255, 255, 255);
        font-size: 15px;
        background: rgb(89, 181, 72);
        top: 410px;
        margin-left: 1000px;
        border-radius: 20px;
    }

    .button:hover
    {
        background-color: rgb(25, 130, 118);
        color: white;
    }

    /*botones menu*/

    .button2 .butuno
    {
        margin-right: 15px;
        margin: -10px 10px;
    }

    .button2
    { 
        position: relative;
        text-decoration: none;
        margin: 0%;
        padding: 20px 40px;
        box-sizing: border-box;
        font-family: verdana;
        width: 170px;
        text-align: center;
        margin: auto;
        margin-top: 200px;
        color: rgb(0, 0, 0);
        font-size: 15px;
        background: white;
        top: 490px;
        margin-left: 810px;
        border-radius: 20px;
        border-color: rgb(25, 130, 118) transparent;
        border-style: solid;
        border-width: 2px;
    }
        
    .button2:hover
    {
        background-color: rgb(25, 130, 118);
        color: white;
    }
    .button3 .butdos
    {
        margin-right: 15px;
        margin: -10px 10px;
    }

    .button3 
    {
        position: relative;
        text-decoration: none;
        margin: 0%;
        padding: 20px 40px;
        box-sizing: border-box;
        font-family: verdana;
        width: 170px;
        text-align: center;
        margin: auto;
        margin-top: 200px;
        color: rgb(0, 0, 0);
        font-size: 15px;
        background: white;
        top: 470px;
        margin-left: 520px;
        border-radius: 20px;
        border-color: rgb(25, 130, 118) transparent;
        border-style: solid;
        border-width: 2px;
    }
        
    .button3:hover 
    {
        color: white;
        background-color: rgb(25, 130, 118);
    }

    .button4 .buttres
    {
        margin-right: 15px;
        margin: -10px 10px;
    }

    .button4 
    { 
        position: relative;
        text-decoration: none;
        margin: 0%;
        padding: 20px 40px;
        box-sizing: border-box;
        font-family: Verdana;
        width: 170px;
        text-align: center;
        margin: auto;
        margin-top: 200px;
        color: rgb(0, 0, 0);
        font-size: 15px;
        background: white;
        top: 470px;
        margin-left: -550px;
        border-radius: 20px;
        border-color: rgb(25, 130, 118) transparent;
        border-style: solid;
        border-width: 2px;
    }
    
    .button4:hover
    {
        background-color: rgb(25, 130, 118);
        color: white;
        
    }

    /*pie de pagina*/

    .pie 
    {
        background-color: #fc7323;
        margin-top:600px;
    }

    .pie
    {
        position: relative;
        width: 100%;
        height: 75px;
        background-color:#fc7323;
        margin-top:600px;
        display: flex;
        align-items: flex-end;
        border-top: 2px solid #fff;
        margin-left: 0px;
    }

    .pie img
    {
        margin-left: 10px; 
    }

    .info 
    {
    border-left: solid var(--white);
    margin: 4px;
    }

    .info p
    {
        font-size: 12px;
        color: #fff;
        font-family: Verdana;
        margin: 4px;
        margin-left: 5px;
        font-family: Verdana;
    }

    /*creacion de usuarios*/

    .creausu
    {
        margin-left: 3%;
        margin-top: -32%;
        background-image: url(../imagenes/fonforegistro.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 94%;
        height: 720px;
        position: absolute;
        border-radius: 15px;
        visibility: hidden;
    }

    .cerrar
    {
        position:absolute ;
    }
    .cerrar img
    {
        margin-top: 0%;
        width: 4%;
        height: 4%;
        margin-left: 990px;
        cursor: pointer;
        z-index: 11;
    }

    .container{
        width: 50%;
        margin: 50px 300px;
        margin-top: 140px;
    }
    .formu{
        margin: auto;
        width: 100%;
        height: auto;
        border: 1px solid black;
        border-radius: 20px;
        background-color: white;

    }
    
    h1{
        margin-top: 7%;
    }
    .formu{
        margin-top: 10%;
        margin-left: 5%;
        padding: 2%;
    }
    .container img{
        width: 30%;
        height: 30%;
        z-index: 11;
        margin-left: 43%;
    }
    .conten
    {
        display: flex;
        margin-right: 4%;
    }
    .formm{
        border: 2px solid white;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding: 1%;
        color: rgb(255, 60, 0); 
        font-family: 'Saira Condensed', sans-serif;
    }

    .formm button{
        margin-top: 40px;
        background-color: var(--naranjaClaro);
        font-size: 13px;
        padding: 5px;
        border-radius: 10px;
    }
    
    input{
        margin: 15px 15px;
        width: 250px;
        padding: 5px;
        border-radius: 10px;
        border: none;
        border: 1px solid gray;
        text-align: center;
        border: 2px solid rgb(26, 182, 78);
    }
    
    input:hover{
        border: 2px solid green;
    }
    
    label{
        margin: 20px 20px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #env{
        margin-top: 8px;
        width: 100px;
        background-color: rgb(255, 145, 0);
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: white;
        padding: 5px 5px;
        border: none;
        cursor: pointer;
        margin-left: 2%;
    }
    
    #env:hover{
        color: white;
        background-color: rgba(25, 221, 90, 0.993);
        box-shadow: 0 4px 16px rgb(255, 123, 0);
        transition: all 0.2s ease;
    }
    
    .regreso{
        color: white;
        margin-right: 55%;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 1%;
        border-radius: 15px;
    }
    
    .btnregistrar{
        position: absolute;
        margin: -50px 370px;
    }
    
    .btnregresar{
        position: absolute;
        margin: -37px 487px;
        width: 329px;
        height: 69px;
    }
    
    .regreso{
        background-color: rgb(15, 248, 73);
    }

    .fila2{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .fila2 select{
        width: 270px;
    }
    /*_______________________________________ FORMUALARIO DEL APRENDIZ ______________________________________________*/
    #conteaprendiz{
        position: absolute;
        top: 80px;
        left: 250px;
        z-index: 2;
        background-color: white;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        border: solid 2px rgb(255, 123, 0);
        visibility: hidden;
    }

    #conteaprendiz form{
        display: flex;
        justify-content: space-between;
    }

    #conteaprendiz form label{
        margin-top: 30px;
    }



    #conteaprendiz form select {
        width: 270px;
        margin-bottom: 20px;
        padding: 5px;
        border: solid 2px #59b548;
        border-radius: 10px;
    }

    #conteaprendiz form fieldset{
        padding: 20px;
        margin-right: 30px;
        border-radius: 10px;
    }

    #conteaprendiz form button {
        background-color:  rgb(255, 123, 0);
        padding: 5px;
        font-size: 13px;
        border-radius: 10px;
    }

    /***************   MENU DE CREACION ***************************/

    .menu_create{
        position: absolute;
        background-color: var(--naranjaClaro);
        top: 125px;
        left: 900px;
        z-index: 2;
        padding: 15px;
        visibility: hidden;
    }
     .menu_create p {
         margin-bottom: 10px;
         cursor: pointer;
     }

     .menu_create p:hover{
         color: white;
     }

     .ocultar {
         visibility: visible;
     }

     .ocultarM {
         visibility: hidden;
     }

/*     ************************************* FORMULARIO DE FORMACION ***************************************   */

    .formu-formacion{

        padding: 15px;
        position: absolute;
        top: 250px;
        left: 450px;
        z-index: 2;
        background-color: var(--naranjaClaro);
        border: solid 2px var(--naranja);
        border-radius: 10px;
        text-align: center;
        visibility: hidden;
    }

    .formu-formacion form button{
        padding: 5px;
        background-color: var(--verde);
        border-radius: 10px;
        font-size: 13px;
    }

/*  *******************  FORMULARIO DE CREAR FICHA DE FORMACION *****************************     */

    .conte_ficha{
        position: absolute;
        background-color: white;
        padding: 15px;
        top: 20px;
        left: 450px;
        text-align: center;
        border: solid 2px var(--naranja);
        border-radius: 10px;
        visibility: hidden;
    }

    .conte_ficha form select {
        width: 270px;
        margin-bottom: 20px;
        padding: 5px;
        border: solid 2px #59b548;
        border-radius: 10px;
    }

    .conte_ficha form button {
        background-color: var(--naranjaClaro);
        font-size: 13px;
        padding: 5px;
        border-radius: 10px;
    }
/* *******************  FORMULARIO DE LA EMPRESA ****************/
    .conte_empresa{
        position: absolute;
        z-index: 2;
        background-color: white;
        text-align: center;
        border: solid 2px var(--naranja);
        top: 115px;
        left: 350px;
        padding: 10px;
        visibility: hidden;
    }

    .conte_empresa form select{
        width: 270px;
        margin-bottom: 20px;
        padding: 5px;
        border: solid 2px #59b548;
        border-radius: 10px;
    }

    .conte_empresa form button{
        background-color: var(--naranjaClaro);
        font-size: 13px;
        padding: 5px;
        border-radius: 10px;
    }

    .uper{
        text-transform: uppercase;
    }

    #linkFicha{
        font-size: 10px;
        margin-top: -20px;
        position: absolute;
        margin-left: -90px;
    }